* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #f1f1f1;
	font-family: "Roboto", sans-serif;

	@media screen and (min-width: 1200px) {
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgb(71, 86, 224), rgb(28, 240, 8));
			clip-path: circle(10% at 95% 5%);
			z-index: -1;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgb(10, 161, 207), rgb(0, 0, 0));
			clip-path: circle(20% at 10% 80%);
			z-index: -1;
		}
	}
}
